# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Auth
python-jose[cryptography]
bcrypt
motor

# ML / Audio
transformers
protobuf
torch
numpy
soundfile
phonemizer
dtw-python

# Utilities
python-dotenv
pydantic[email]
