# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Auth
python-jose[cryptography]
bcrypt
pymongo

# ML / Audio
transformers
torch
numpy
soundfile
phonemizer
dtw-python

# Utilities
python-dotenv
pydantic[email]
